.btn-color{
    background-color: #5AE600;
    color: #fff;
    font-weight: bolder;
}

.color{
    background-color: #afafaf;
}
  
a{
    text-decoration: none;
}

body {
    background-color: #fff;
}

.link {
    text-emphasis: none;
    text-decoration: none;
}

.texto-negrito {
    font-weight: bolder;
}

.btn-cancel-color {
    background-color: #E62100;
    color: #fff;
    font-weight: bolder;
}
