.btn-color{
    background-color: #0e1c36;
    color: hsl(0, 0%, 100%);
    font-weight: bolder;
}
  
.profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
}
  
  
  
.cardbody-color{
    background-color: #afafaf;
}
  
a{
    text-decoration: none;
}

body {
    background-color: #fff;
}